@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:wght@100;500&display=swap');


body{
 background-color: black;
 color: white;
 font-family: 'montserrat',sans-serif;
 font-weight: 100;
 max-width: 1200px;
 margin: 0 auto;
 padding: 15px;
}
header{
display: flex;
flex-direction: row;
justify-content: space-between;
aligin-items: center;
}
#title{
   flex-direction: column;
   line-height: 30px;
   font-size: 20px;
}
li{
    display: inline-block;
    margin: 20px;

}    
h1{
   font-weight: 105px;

}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 40px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;;
    font-weight: 400;
    
}
span{
 color: rgb(0,145,78);
 

}
p{
    font-size: 27px;
    margin: 8px;
    line-height: 27px;
    max-width: 300px;
    padding: 1px;
    font-family: 'poppins',sans-serif;
    
}
img{
  width: 660px;
 right: 100px;
  position:absolute;


}
a{
color: white;
font-family: 'monserrat',sans-serif;
}
a:hover{
    color:rgb(80, 80, 80);
    transition: 0.3s all;


}
#inscreva-se-btn{

border: 2px solid rgb(80, 80, 80);
padding: 10px;
border-radius: 15px;
}
#inscreva-se-btn:hover{
     background-color: rgb(80, 80, 80);
     color: white;



}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
  

}
input{
 margin-top: 20px;
 height: 20px;
 padding: 15px;
 border-radius: 20px;
 border: none;
 font-size: 15px;


}
button{
 height: 50px;
 width: 100%;
 background-color: rgb(0,145,78);
 color: white;
 font-weight: bold;
 border-radius: 15px;

}
button:hover{
    cursor: pointer;

}
#cor{
color:blueviolet


}
.ach a{
    color: aqua;
}